body {
    background: #F5F5F5;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


.main-wrap {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.banner {
    background: #C6E4D6;
    display: flex;
    border-radius: 16px;
    padding: 80px 40px;
}

.banner-txt {
    max-width: 622px;
    padding-right: 64px;
}

.banner-txt h4 {
    font-size: 24px;
    color: rgba(14, 14, 14, 0.50);
    font-weight: 500;
    margin-bottom: 16px;
}

.banner-txt h3 {
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.banner-txt a {
    display: table;
    background: #006A50;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    transition: 1s;
    padding: 17px 34px;
}

.banner-txt a:hover {
    background: #149475;
}

.banner-img {
    max-width: 474px;
}